<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
	<h1>This is Home View</h1>
	<p class="text">This is paragraph</p>
</body>
</html>